<p id="notice"><%= notice %></p>

<p>
  <strong>Keyword:</strong>
  <%= @keyword_mst.keyword %>
</p>

<%= link_to 'Edit', edit_keyword_mst_path(@keyword_mst) %> |
<%= link_to 'Back', keyword_msts_path %>
